.content-outer-bloques-content { background: #19289B; }
.content-outer-bloques-content-item-cont-redes-svg svg { height: 30px; width: 30px; }
.content-outer-bloques-content-item-cont-redes-svg { float: left; margin-right: 30px; }
.content-outer-bloques-content-item-cont-info-text { color: white; }
.content-outer-bloques-content-item-cont-map {height: 350px;}
.content-outer-bloques-content {min-height: auto;}