<div class="content-outer-bloques-content">
	<div class="content-outer-bloques-content-titulo t28"><b>{{'Ingeniería de procesos' | translate}}</b></div>
	<!-- tab1 -->
	<div class="content-outer-bloques-content-item active-tab-content">
		<div class="content-outer-bloques-content-item-item1" [innerHtml]="'texto_ing_de_procesos' | translate"></div>
		<div class="content-outer-bloques-content-item-img"><img src='../assets/media/ingDeProcesos/ingDeProcesos.jpg' alt='ciqa institucional'></div>
	</div>
</div>