<div class="content-outer-clientes col-xs-12">

	<div class="info-tit bold tcolor-3 t24 capitalize">información útil</div>

	<!-- slidedown -->
	<div class="content-outer-bloques-content-item-item1 col-sm-11">
		<div class="content-outer-bloques-content-item-item1-title col-xs-12 t17" (click)="peticionesService.show_animated_slide($event)" onclick="$(this).toggleClass('tcolor-3')">¿Cuáles son los métodos de toma de muestra?</div>
		<div class="content-outer-bloques-content-item-item1-content">
			<div>
				<div class="content-outer-bloques-content-item-item1-content-info col-xs-12">
					<div class="content-outer-bloques-content-item-item1-content-info-texto tcolor-2 t16">Caracterización de Emisiones Gaseosas y de la Calidad del Aire en sitios urbanos e industriales empleando una amplia variedad de equipamiento, como ser: equipos de muestreo isocinético, sistemas de camino abierto (Open-Path FTIR), Cromatógrafo portátil, Equipos de monitoreo continuo de PM10, entre otros.</div>
				</div>
			</div>
		</div>
	</div>

	<!-- slidedown -->
	<div class="content-outer-bloques-content-item-item1 col-sm-11">
		<div class="content-outer-bloques-content-item-item1-title col-xs-12 t17" (click)="peticionesService.show_animated_slide($event)" onclick="$(this).toggleClass('tcolor-3')">¿Qué debo hacer antes de llevar las muestras al laboratorio?</div>
		<div class="content-outer-bloques-content-item-item1-content">
			<div>
				<div class="content-outer-bloques-content-item-item1-content-info col-xs-12">
					<div class="content-outer-bloques-content-item-item1-content-info-texto tcolor-2 t16">Caracterización de Emisiones Gaseosas y de la Calidad del Aire en sitios urbanos e industriales empleando una amplia variedad de equipamiento, como ser: equipos de muestreo isocinético, sistemas de camino abierto (Open-Path FTIR), Cromatógrafo portátil, Equipos de monitoreo continuo de PM10, entre otros.</div>
				</div>
			</div>
		</div>
	</div>

	<!-- slidedown -->
	<div class="content-outer-bloques-content-item-item1 col-sm-11">
		<div class="content-outer-bloques-content-item-item1-title col-xs-12 t17" (click)="peticionesService.show_animated_slide($event)" onclick="$(this).toggleClass('tcolor-3')">¿Cómo puedo ver el estado de mi presupesto?</div>
		<div class="content-outer-bloques-content-item-item1-content">
			<div>
				<div class="content-outer-bloques-content-item-item1-content-info col-xs-12">
					<div class="content-outer-bloques-content-item-item1-content-info-texto tcolor-2 t16">Caracterización de Emisiones Gaseosas y de la Calidad del Aire en sitios urbanos e industriales empleando una amplia variedad de equipamiento, como ser: equipos de muestreo isocinético, sistemas de camino abierto (Open-Path FTIR), Cromatógrafo portátil, Equipos de monitoreo continuo de PM10, entre otros.</div>
				</div>
			</div>
		</div>
	</div>

	<!-- slidedown -->
	<div class="content-outer-bloques-content-item-item1 col-sm-11">
		<div class="content-outer-bloques-content-item-item1-title col-xs-12 t17" (click)="peticionesService.show_animated_slide($event)" onclick="$(this).toggleClass('tcolor-3')">¿Cuáles son los métodos de pago disponibles?</div>
		<div class="content-outer-bloques-content-item-item1-content">
			<div>
				<div class="content-outer-bloques-content-item-item1-content-info col-xs-12">
					<div class="content-outer-bloques-content-item-item1-content-info-texto tcolor-2 t16">Caracterización de Emisiones Gaseosas y de la Calidad del Aire en sitios urbanos e industriales empleando una amplia variedad de equipamiento, como ser: equipos de muestreo isocinético, sistemas de camino abierto (Open-Path FTIR), Cromatógrafo portátil, Equipos de monitoreo continuo de PM10, entre otros.</div>
				</div>
			</div>
		</div>
	</div>

</div>