<div class="content-outer-clientes col-xs-12">

	<div class="info-tit bold tcolor-3 t24 capitalize bold t24">{{'mensajes' | translate}}</div>

	<div class="content-outer-clientes-text tcolor-4 uppercase bold t12" style="cursor: pointer"><b>› </b>{{'abrir un nuevo tema de consulta' | translate}}</div>
	
	<div class="content-outer-clientes-extracont">
		<div class="content-outer-clientes-item t14 bcolor-3" (click)="toggle_expanded_msj($event)">
			<i class="material-icons tcolor-3">mail</i>
			<div class="content-outer-clientes-item-tit">Consulta sobre muestras</div>
			<div class="content-outer-clientes-item-date">11/12/2017</div>
			<div class="content-outer-clientes-item-msjs hidden">
				<div class="content-outer-clientes-item-msjs-msj bcolor-3">
					<div class="msjs-msj-header">
						<i class="material-icons tcolor-3">mail</i>
						<div class="content-outer-clientes-item-msjs-msj-remitent">Diego</div>
						<div class="content-outer-clientes-item-msjs-msj-date">11/12/2017&nbsp;-&nbsp;23:59</div>
					</div>
					<div class="content-outer-clientes-item-msjs-msj-text">Hola! Donec mattis sagittis leo, at hendrerit neque molestie et. Duis tincidunt eu neque eget finibus. Mauris vel volutpat nisl. Phasellus efficitur velit lacus, quis mattis ipsum vestibulum eu. Aenean et enim dignissim, pellentesque purus in, consectetur ligula. Aenean sollicitudin libero et tincidunt aliquam</div>
				</div>
				<div class="content-outer-clientes-item-msjs-msj bcolor-3">
					<div class="msjs-msj-header">
						<i class="material-icons tcolor-3">mail</i>
						<div class="content-outer-clientes-item-msjs-msj-remitent">Ciqa</div>
						<div class="content-outer-clientes-item-msjs-msj-date">12/12/2017&nbsp;-&nbsp;11:09</div>
					</div>
					<div class="content-outer-clientes-item-msjs-msj-text">Hola Diego, gracias por tu consulta. Donec mattis sagittis leo, at hendrerit neque molestie et. Duis tincidunt eu neque eget finibus. Mauris vel volutpat nisl. Phasellus efficitur velit lacus, quis mattis ipsum vestibulum eu. Aenean et enim dignissim, pellentesque purus in, consectetur ligula. Aenean sollicitudin libero et tincidunt aliquam</div>
				</div>
			</div>
		</div>

		<div class="content-outer-clientes-item t14 bcolor-3" (click)="toggle_expanded_msj($event)">
			<i class="material-icons tcolor-3">mail</i>
			<div class="content-outer-clientes-item-tit">Solicitud de presupuesto</div>
			<div class="content-outer-clientes-item-date">11/12/2017</div>
			<div class="content-outer-clientes-item-msjs hidden">
				<div class="content-outer-clientes-item-msjs-msj bcolor-3">
					<div class="msjs-msj-header">
						<i class="material-icons tcolor-3">mail</i>
						<div class="content-outer-clientes-item-msjs-msj-remitent">Diego</div>
						<div class="content-outer-clientes-item-msjs-msj-date">11/12/2017&nbsp;-&nbsp;23:59</div>
					</div>
					<div class="content-outer-clientes-item-msjs-msj-text">Hola! Donec mattis sagittis leo, at hendrerit neque molestie et. Duis tincidunt eu neque eget finibus. Mauris vel volutpat nisl. Phasellus efficitur velit lacus, quis mattis ipsum vestibulum eu. Aenean et enim dignissim, pellentesque purus in, consectetur ligula. Aenean sollicitudin libero et tincidunt aliquam</div>
				</div>
				<div class="content-outer-clientes-item-msjs-msj bcolor-3">
					<div class="msjs-msj-header">
						<i class="material-icons tcolor-3">mail</i>
						<div class="content-outer-clientes-item-msjs-msj-remitent">Ciqa</div>
						<div class="content-outer-clientes-item-msjs-msj-date">12/12/2017&nbsp;-&nbsp;11:09</div>
					</div>
					<div class="content-outer-clientes-item-msjs-msj-text">Hola Diego, gracias por tu consulta. Donec mattis sagittis leo, at hendrerit neque molestie et. Duis tincidunt eu neque eget finibus. Mauris vel volutpat nisl. Phasellus efficitur velit lacus, quis mattis ipsum vestibulum eu. Aenean et enim dignissim, pellentesque purus in, consectetur ligula. Aenean sollicitudin libero et tincidunt aliquam</div>
				</div>
			</div>
		</div>

		<div class="content-outer-clientes-item t14 bcolor-3" (click)="toggle_expanded_msj($event)">
			<i class="material-icons tcolor-3">mail</i>
			<div class="content-outer-clientes-item-tit">Agradecimiento</div>
			<div class="content-outer-clientes-item-date">11/12/2017</div>
			<div class="content-outer-clientes-item-msjs hidden">
				<div class="content-outer-clientes-item-msjs-msj bcolor-3">
					<div class="msjs-msj-header">
						<i class="material-icons tcolor-3">mail</i>
						<div class="content-outer-clientes-item-msjs-msj-remitent">Diego</div>
						<div class="content-outer-clientes-item-msjs-msj-date">11/12/2017&nbsp;-&nbsp;23:59</div>
					</div>
					<div class="content-outer-clientes-item-msjs-msj-text">Hola! Donec mattis sagittis leo, at hendrerit neque molestie et. Duis tincidunt eu neque eget finibus. Mauris vel volutpat nisl. Phasellus efficitur velit lacus, quis mattis ipsum vestibulum eu. Aenean et enim dignissim, pellentesque purus in, consectetur ligula. Aenean sollicitudin libero et tincidunt aliquam</div>
				</div>
				<div class="content-outer-clientes-item-msjs-msj bcolor-3">
					<div class="msjs-msj-header">
						<i class="material-icons tcolor-3">mail</i>
						<div class="content-outer-clientes-item-msjs-msj-remitent">Ciqa</div>
						<div class="content-outer-clientes-item-msjs-msj-date">12/12/2017&nbsp;-&nbsp;11:09</div>
					</div>
					<div class="content-outer-clientes-item-msjs-msj-text">Hola Diego, gracias por tu consulta. Donec mattis sagittis leo, at hendrerit neque molestie et. Duis tincidunt eu neque eget finibus. Mauris vel volutpat nisl. Phasellus efficitur velit lacus, quis mattis ipsum vestibulum eu. Aenean et enim dignissim, pellentesque purus in, consectetur ligula. Aenean sollicitudin libero et tincidunt aliquam</div>
				</div>
			</div>
		</div>
	</div>

	<div class="content-outer-clientes-msjexpanded" style="display: none">
		<form action="javascript:0" #formNewMsj="ngForm" (ngSubmit)="enviar_mensaje($event)">
			<div class="expanded-back tcolor-3" (click)="toggle_expanded_msj($event)" style="cursor: pointer"><i class="material-icons">keyboard_arrow_left</i> volver a mensajes</div><br>
			<div class="expanded-content"></div>
			<div class="content-outer-clientes-item-msjs-msj expanded-new-msj bcolor-3">
				<div class="msjs-msj-header">
					<i class="material-icons tcolor-3">mail</i>
					<div class="content-outer-clientes-item-msjs-msj-remitent">Diego</div>
					<div class="content-outer-clientes-item-msjs-msj-date">Escribir&nbsp;nueva&nbsp;respuesta</div>
				</div>
				<div class="content-outer-clientes-item-msjs-msj-text">
					<textarea type="text" name="mensaje" #mensaje="ngModel" [(ngModel)]="mensajeForm" placeholder="Escriba aquí su mensaje..." required></textarea>
					<span *ngIf="mensaje.touched && !mensaje.valid" class="t11" style="color: red;">Debe ingresar un mensaje para enviar una respuesta</span>
				</div>
			</div>
			<div class="expanded-submit pull-right"><input [disabled]="!formNewMsj.valid" class="button bcolor-1 uppercase" type="submit" value="{{'enviar' | translate}}"></div>
		</form>
	</div>

</div>