<div class="component-container">
	<div class="background-outer">
		<div class="background-imagen-top">
			<img src="../assets/media/servicios.jpg" alt="">	
		</div>
		<div class="background-color"></div>
	</div>
	<div class="content-outer container no-padding">
		<div class="tituloOffset">{{titulo}}</div>
		<div class="content-outer-bloques col-xs-12 no-padding">
		
			<div class=""><a [routerLink]="['ingenieriaAmbiental']" [routerLinkActive]="['claseLinkActivo']" class="font1 t14 t-color-2">{{"ingenieria ambiental" | translate}}</a></div>
			<div class=""><a [routerLink]="['ingenieriaDeProcesos']" [routerLinkActive]="['claseLinkActivo']" class="font1 t14 t-color-2">{{"ingenieria de procesos" | translate}}</a></div>
			<div class=""><a [routerLink]="['capacitaciones']" [routerLinkActive]="['claseLinkActivo']" class="font1 t14 t-color-2">{{"capacitaciones" | translate}}</a></div>
			<div class=""><a [routerLink]="['auditoriaDeTanques']" [routerLinkActive]="['claseLinkActivo']" class="font1 t14 t-color-2">{{"auditoria de tanques" | translate}}</a></div>
			
			<router-outlet class="clearfix"></router-outlet>

		</div>
	</div>
</div>