<div class="content-outer-clientes col-xs-12">

	<div class="info-tit bold tcolor-3 t24 capitalize bold t24">{{'comprobantes' | translate}}</div>

	<div class="content-outer-clientes-text tcolor-4 uppercase bold t12" style="cursor: pointer"><a href="javascript:$('.inputfile').fadeToggle()"><b>› </b>{{'adjuntar nuevo comprobante (pdf)' | translate}}</a><input class="inputfile" style="display:none" type="file" name="pic" value="aquí" accept=".pdf"></div>
	
	<br><div class="content-outer-clientes-info">{{'Aún no hay comprobantes adjuntados' | translate}}</div>

	<br><br><br><input class="content-outer-clientes-input button-big bcolor-3 uppercase" type="submit" value="enviar">
</div>