<div class="content-outer-clientes col-xs-12">

	<div class="info-tit bold tcolor-3 t24 capitalize">{{historial | translate}}</div>

	<!-- slidedown -->
	<div class="content-outer-clientes-item col-sm-11 hidden-xs hidden-sm">
		<table>
			<tr class="tcolor-3 bold t12 uppercase">
				<td>Presupuesto</td>
				<td>Inicio</td>
				<td>Finalizado</td>
				<td></td>
			</tr>
			<tr>
				<td>Calidad de aguas y afluentes</td>
				<td>15/03/2017</td>
				<td>15/04/2017</td>
				<td><a href="../../../assets/test_file.txt" download="Informe de prueba.pdf"><i class="material-icons tcolor-3">file_download</i></a></td>
			</tr>
			<tr>
				<td>Análisis de suelos</td>
				<td>02/03/2017</td>
				<td>21/05/2017</td>
				<td><a href="../../../assets/test_file.txt" download="Informe de prueba.pdf"><i class="material-icons tcolor-3">file_download</i></a></td>
			</tr>
			<tr>
				<td>Análisis de resuduos peligrosos</td>
				<td>06/03/2017</td>
				<td>14/08/2017</td>
				<td><a href="../../../assets/test_file.txt" download="Informe de prueba.pdf"><i class="material-icons tcolor-3">file_download</i></a></td>
			</tr>
		</table>
	</div>

	<div class="content-outer-clientes-item col-sm-11 visible-xs visible-sm">
		<div class="cont">
			<div class="item">
				<div class="tit">Calidad de aguas y afluentes</div>
				<div class="inicio"><span>Inicio: </span>15/03/2017</div>
				<div class="fin"><span>Fin: </span>15/04/2017</div>
				<div><a href="../../../assets/test_file.txt" download="Informe de prueba.pdf"><i class="material-icons tcolor-3">file_download</i></a></div>
			</div>
			<div class="item">
				<div class="tit">Análisis de suelos</div>
				<div class="inicio"><span>Inicio: </span>02/03/2017</div>
				<div class="fin"><span>Fin: </span>21/05/2017</div>
				<div><a href="../../../assets/test_file.txt" download="Informe de prueba.pdf"><i class="material-icons tcolor-3">file_download</i></a></div>
			</div>
			<div class="item">
				<div class="tit">Análisis de resuduos peligrosos</div>
				<div class="inicio"><span>Inicio: </span>06/03/2017</div>
				<div class="fin"><span>Fin: </span>14/08/2017</div>
				<div><a href="../../../assets/test_file.txt" download="Informe de prueba.pdf"><i class="material-icons tcolor-3">file_download</i></a></div>
			</div>
		</div>
	</div>

</div>