* { text-align:justify; font-family: 'Nunito Sans'; text-decoration: none !important; list-style: none; }
@media (max-width:767px) {
    * { flex-direction: column; }
}
html {animation: clip 2s;}
footer .footer-cont-cont2-redes svg { height: 25px; width: 25px; margin: 0px 15px; }
footer .footer-cont-cont2-redes li:first-child svg { margin-left: 0px; }
footer .footer-cont-cont2-redes li:hover * {fill: #00a5e6;cursor: pointer;}
.font1 { font-family: 'Nunito Sans'; }
.t1 { font-size: 1px; }
.t2 { font-size: 2px; }
.t3 { font-size: 3px; }
.t4 { font-size: 4px; }
.t5 { font-size: 5px; }
.t6 { font-size: 6px; }
.t7 { font-size: 7px; }
.t8 { font-size: 8px; }
.t9 { font-size: 9px; }
.t10 { font-size: 10px; }
.t11 { font-size: 11px; }
.t12 { font-size: 12px; }
.t13 { font-size: 13px; }
.t14 { font-size: 14px; }
.t15 { font-size: 15px; }
.t16 { font-size: 16px; }
.t17 { font-size: 17px; }
.t18 { font-size: 18px; }
.t19 { font-size: 19px; }
.t20 { font-size: 20px; }
.t21 { font-size: 21px; }
.t22 { font-size: 22px; }
.t23 { font-size: 23px; }
.t24 { font-size: 24px; }
.t25 { font-size: 25px; }
.t26 { font-size: 26px; }
.t27 { font-size: 27px; }
.t28 { font-size: 28px; }
.t29 { font-size: 29px; }
.t30 { font-size: 30px; }
.t31 { font-size: 31px; }
.t32 { font-size: 32px; }
.t33 { font-size: 33px; }
.t34 { font-size: 34px; }
.t35 { font-size: 35px; }
.semibold { font-weight: 600; }
.bold.bold { font-weight: 700; }
.tcolor-1 { color: white; /*white*/ }
.tcolor-2 { color: #969696; /*grey*/ }
.tcolor-3.tcolor-3 { color: #19289B; /*darkBlue*/ }
.tcolor-4 { color: #09A5E4; /*lightBlue*/ }
.tcolor-5 { color: #000; /*black*/ }
.bcolor-1 { background: #09A5E4; /*lightBlue*/ color: white; }
.bcolor-2 { background: #19289B;/*darkBlue*/ color: white; }
.bcolor-3 { background: #EBF0F5;/*almostWhite*/ color: #9696A0; }
.button { padding: 10px 25px; cursor: pointer; background: #00a5e6; border: none; color: white; }
.button-big { padding: 12px 30px; cursor: pointer; background: #00a5e6; border: none; color: white; }
.button,
.button-big { box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12); transition: box-shadow .3s ease-out; }
.button:hover,
.button-big:hover { font-weight: normal !important; box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15); }
.button-big,
.button { letter-spacing: 0.07em; }
.content-outer-bloques-content-item-cont-redes-svg:hover svg * {fill: #00a5e6;}

.content-outer-bloques-content-item-cont-redes-svg:hover {
    cursor: pointer;
}
svg * { transition: fill .3s; }
.uppercase { text-transform: uppercase; }
.capitalize { text-transform: capitalize; }
.no-padding,
.no-padding-childs > div { padding-left: 0px; padding-right: 0px; z-index: 1; }
.space-tiny { float: left; height: 20px; width: 100%; }
.space { float: left; height: 40px; width: 100%; }
.space-big { float: left; height: 60px; width: 100%; }
.background-outer *::selection { background: none; }
.background-outer *::-moz-selection { background: none; }
.background-outer *::-webkit-selection { background: none; }
.text-separator-line { width: 50px; border-top: 1.5px solid #00a5e6; }
.hide-before:before { display: none; }
.claseLinkActivo {/* font-weight: bold; */color: white; }
.claseLinkActivo.claseLinkActivo:before { width: 35px; }
input[type=file]::-webkit-file-upload-button { background: #ebf0f5; border: 1px solid black; border-radius: 5px; cursor: pointer; color: black; }
.component-container { float: left; width: 100%; color: #5F5F5F; margin-top: -100px; position: relative; }
.background-outer { width: 100%; background: #00A5E6; float: left; height: calc(100% + 450px); position: absolute; }
.background-outer .background-imagen-top { overflow: hidden; height: 101vh; background: #001741; }
.background-outer .background-imagen-top,
.background-outer .background-color { z-index: 0; width: 100%; position: relative; }
.input-box { margin: 20px 0px; height: 40px; padding: 5px; width: 200px; }
.input-span { position: absolute; font-size: 12px; color: red; left: 0px; bottom: 2px; }
.navigation-menu a,
.navigation-menu select { position: relative; z-index: 9; }
.navigation-menu a:before { content: ''; position: absolute; width: 0px; height: 2.5px; bottom: -7px; left: calc(50% - 17.5px); background: #01a5e7; transition: all .15s ease-out; border-radius: 3px; }
.navigation-menu-mouse-out.navigation-menu-mouse-out:before { right: calc(50% - 17.5px); left: unset; }
.navigation-menu-mouse-in.navigation-menu-mouse-in:before { right: unset; left: calc(50% - 17.5px); }
.navigation-menu.navigation-menu a:not(.button):not(.logoLink):hover:before { width: 35px; }
.navigation-menu .nav-links { width: 100%; text-align: right; }
.navigation-menu .nav-links a {margin-right: 5%;/* height: 50px !important; *//* width: 100px !important; */display: inline-block;}

.navigation-menu .nav-links a.alert-icon {
    cursor: pointer;
    transform: translateY(5px);
}

.navigation-menu .nav-links a.alert-icon:before {
    display: none;
}

.navigation-menu .nav-links a:first-letter {
    text-transform: capitalize;
}
.navigation-menu .nav-links a:hover { color: white;/* font-weight: bold; */ }
a:hover {/* color: #01a5e7; */ }
a:focus { color: white; }
.background-imagen-top img { min-height: 100%; min-width: 100%; }
.navigation-menu select,
footer .footer-cont-cont2-links li select { background: none; border: none; outline: none; text-transform: uppercase; }
.navigation-menu select option,
footer .footer-cont-cont2-links li select option { color: black; background: white; }
.navigation-menu .nav-links a:last-child { margin-right: 0px; }
.navigation-menu { display: flex; align-items: center; margin: 40px 5% 0px; z-index: 9; position: relative; }
.content-outer { margin-top: 300px; background: white; min-height: 500px; position: relative; box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4); }
.content-outer .tituloOffset { font-family: "Nunito Sans"; font-weight: 600; font-size: 32px; color: white; position: relative; margin-top: -100px; padding-bottom: 70px; line-height: 0px; text-transform: uppercase; }
footer.container { float: left; background: #00132B; position: relative; display: flex; align-items: flex-start; justify-content: center; margin-left: 50%; transform: translateX(-50%); padding: 50px 0px 30px; }
footer .footer-cont-cont2-redes { display: flex; justify-content: flex-start; }
footer .footer-cont-cont2-links { margin-bottom: 50px; }
footer .footer-cont-cont2-links li {margin: 10px 0px;text-align: left;}
footer .footer-cont-cont2-links li:first-child { margin-top: 0px; }
footer .footer-cont { display: flex; justify-content: center; }
footer .footer-cont-cont2-cont3-logo svg { width: 45px; float: left; margin-right: 10px; padding-top: 3px; }
footer .footer-cont-cont2-cont3-contacto { margin: 25px 0px; }
.blur { filter: blur(3px); }
app-root > *:not(.popup):not(header) { transition: filter 1s; }

/* nav-tabs */
.content-outer-bloques-nav .content-outer-bloques-nav-item {float: left;padding: 20px;color: white;cursor: pointer;/* transition: all .2s ease; */}
.content-outer-bloques-nav .content-outer-bloques-nav-item.active-tab-nav { background: white; color: #09A5E4; box-shadow: 0px -15px 15px 0px rgba(0, 0, 0, 0); font-weight: 700; }
.content-outer-bloques-nav .content-outer-bloques-nav-item:hover { color: #a2d4e8; }
.content-outer-bloques-nav { clear: both; float: left; width: 100%; background: linear-gradient(#09A5E4 90%, #09A5E4 120%); overflow: hidden; }

.content-outer-bloques-nav > div {
}

/* nav-slide-down */
.content-outer-bloques-content .content-outer-bloques-content-item {height: auto;overflow: hidden;transition: max-height 3s ease-in;max-height: 0px;float: left;font-size: 16px;width: 100%;}
.content-outer-bloques-content .content-outer-bloques-content-item.active-tab-content {max-height: 5000px;}
.content-outer-bloques-content {float: left;position: relative;width: 100%;padding: 5% 0;min-height: 90vh;}
.content-outer-bloques-content-item-item1-content { display: none; width: 100%; overflow: hidden; }
.content-outer-bloques-content-item-item1-title {padding-top: 20px;border-top: 1px solid;position: relative;color: black;cursor: pointer;font-weight: 600;padding-bottom: 20px;padding-left: 0px;padding-right: 30px !important;}
.content-outer-bloques-content-item-item1-content > div { display: flex; align-items: center; padding-bottom: 20px; }
.content-outer-bloques-content-item-img img { width: auto; max-width: 100%; display: block; margin: 0 auto; }
.content-outer-bloques-content-item-item1-content-info-texto i { line-height: 10px; transform: translateY(80%); margin-right: 10px; }
.content-outer-bloques-content-item-item1-content-info-texto { padding: 5px 0px; }
.content-outer-bloques-content-item-item1-content-info-titulo { padding: 5px 0px; }
.content-outer-bloques-content-item-item1-title:before { content: 'add_circle_outline'; font-family: 'Material Icons'; position: absolute; right: 0px; top: 50%; transform: translateY(-50%); font-size: 25px; line-height: 25px; text-transform: none; font-weight: 100; }
.content-outer-bloques-content-item-item1-title-remove:before { content: 'remove_circle_outline'; }

/*agm marker*/
.si-float-wrapper { position: absolute; width: 100%; }
.si-float-wrapper,
.si-float-wrapper * { box-sizing: border-box; }
[class*='si-wrapper'] { display: -webkit-box; display: -ms-flexbox; display: flex; position: absolute; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-size: 14px; cursor: default; }
.si-wrapper-top { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; margin-top: -40px; margin-left: 0px; -webkit-transform: translate(-50%, -100%); transform: translate(-50%, -100%); }
.si-wrapper-bottom { -webkit-box-orient: vertical; -webkit-box-direction: reverse; -ms-flex-direction: column-reverse; flex-direction: column-reverse; margin-top: 0px; margin-left: 0px; -webkit-transform: translate(-50%, 0); transform: translate(-50%, 0); }
.si-wrapper-left { margin-top: -20px; margin-left: -11px; -webkit-transform: translate(-100%, -50%); transform: translate(-100%, -50%); }
.si-wrapper-right { -webkit-box-orient: horizontal; -webkit-box-direction: reverse; -ms-flex-direction: row-reverse; flex-direction: row-reverse; margin-top: -20px; margin-left: 11px; -webkit-transform: translate(0, -50%); transform: translate(0, -50%); }
[class*='si-shadow-wrapper'] { display: -webkit-box; display: -ms-flexbox; display: flex; position: absolute; top: 0; right: 0; bottom: 0; left: 0; opacity: 0.29804; z-index: 1; }
.si-shadow-wrapper-top,
.si-shadow-wrapper-bottom { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
.si-shadow-pointer-bottom,
.si-shadow-pointer-right { -webkit-box-ordinal-group: 0; -ms-flex-order: -1; order: -1; }
.si-shadow-frame { box-shadow: 0 1px 3px 0 #000; }
[class*='si-shadow-pointer'] { position: relative; width: 15px; height: 15px; margin: auto; }
[class*='si-shadow-inner-pointer'] { position: absolute; width: 141%; height: 141%; box-shadow: -0.70711px 0.70711px 3px 0 #000; }
.si-shadow-inner-pointer-top { left: 50%; -webkit-transform: translate(-50%, -50%) rotate(-45deg); transform: translate(-50%, -50%) rotate(-45deg); }
.si-shadow-inner-pointer-bottom { bottom: 0; left: 50%; -webkit-transform: translate(-50%, 50%) rotate(-45deg); transform: translate(-50%, 50%) rotate(-45deg); }
.si-shadow-inner-pointer-left { top: 50%; -webkit-transform: translate(-50%, -50%) rotate(-45deg); transform: translate(-50%, -50%) rotate(-45deg); }
.si-shadow-inner-pointer-right { top: 50%; right: 0; -webkit-transform: translate(50%, -50%) rotate(-45deg); transform: translate(50%, -50%) rotate(-45deg); }
.si-frame { position: relative; -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; border-radius: 3px; overflow: hidden; z-index: 2; }
.si-content-wrapper { width: 100%; max-width: 100%; max-height: 100%; padding: 30px; background-color: #fff; }
.si-has-border .si-content-wrapper { border: 1px solid #bbb; }
.si-content { overflow: auto; }
.si-close-button { position: absolute; top: 0; right: 0; border: 0; outline: none; background-color: transparent; color: inherit; font-family: Arial, Baskerville, monospace; font-size: 24px; cursor: pointer; opacity: 0.5; -webkit-appearance: none; -moz-appearance: none; appearance: none; }
.si-close-button:hover,
.si-close-button:focus { opacity: 0.7; }
[class*='si-pointer-border'] { position: absolute; border: 15px solid transparent; z-index: 3; }
[class*='si-pointer-bg'] { position: relative; border: 15px solid transparent; z-index: 4; }
.si-has-border [class*='si-pointer-bg'] { border-width: 15px; }
.si-pointer-border-top,
.si-pointer-border-bottom { left: 50%; -webkit-transform: translate(-50%, 0); transform: translate(-50%, 0); }
.si-pointer-border-left,
.si-pointer-border-right { top: 50%; -webkit-transform: translate(0, -50%); transform: translate(0, -50%); }
.si-pointer-top { border-bottom: 0; }
.si-pointer-border-top { bottom: 0; border-top-color: #bbb; }
.si-pointer-bg-top { border-top-color: #fff; }
.si-has-border .si-pointer-bg-top { top: -1px; margin-bottom: 0px; }
.si-pointer-bottom { border-top: 0; }
.si-pointer-border-bottom { top: 0; border-bottom-color: #bbb; }
.si-pointer-bg-bottom { border-bottom-color: #fff; }
.si-has-border .si-pointer-bg-bottom { bottom: -1px; margin-top: 0px; }
.si-pointer-left { border-right: 0; }
.si-pointer-border-left { right: 0; border-left-color: #bbb; }
.si-pointer-bg-left { border-left-color: #fff; }
.si-has-border .si-pointer-bg-left { left: -1px; margin-right: 0px; }
.si-pointer-right { border-left: 0; }
.si-pointer-border-right { left: 0; border-right-color: #bbb; }
.si-pointer-bg-right { border-right-color: #fff; }
.si-has-border .si-pointer-bg-right { right: -1px; margin-left: 0px; }

/*quienes somos*/
.content-outer-bloques-content-item-img { margin: 50px 0px; }
.content-outer-bloques-content-item-item1-content-info-titulo > div { margin-bottom: 10px; }

/*ingeniería de procesos*/
.content-outer-bloques-content-titulo { color: #19289B; margin: 0px 0px 50px }

/*servicios*/
.content-outer .tituloOffset:nth-child(2) { color: white; float: right; padding-bottom: 0px; transform: translateY(-50%); font-size: 17px; z-index: 2; }
#service-search > span { position: absolute; margin-top: 0px; background: white; width: 100%; height: auto; color: black; line-height: 1; padding: 10px 20px; }
#service-search > span > span { float: left; width: 100%; padding: 10px 0px; cursor: pointer; }
#service-search > span > span:hover { color: #01a5e7; }
#service-search > span > span a:focus { color: #01a5e7; }
.content-outer .tituloOffset:nth-child(2) input { padding: 15px 10px 15px 40px; background: rgba(0, 0, 0, 0.5); border: none; width: 40vw; position: relative; line-height: 20px; max-width: 600px; }
.content-outer .tituloOffset:nth-child(2):before { font-family: 'Material Icons'; content: 'search'; color: white; position: absolute; top: 0px; left: 9px; text-transform: none; font-size: 25px; line-height: 50px; height: 43px; }

/* contacto */
.content-outer-bloques-content-item-cont-item > *:not(.button):first-child { width: 100%; background: rgba(17, 26, 99, .9); border: none; color: white; padding: 10px; font-size: 13px; height: 100%; }
.content-outer-bloques-content-item-cont-item > *:not(.button):first-child::selection { color: #00a5e6; background: black; }
.content-outer-bloques-content-item-cont-item > span:last-child {color: #d84f4f;font-size: 13px;position: absolute;text-align: center;width: 85%;border-top: 1px solid #d84f4f;margin-left: 2.5%;margin-top: 2px;left: 0px;top: 100%;}
.content-outer-bloques-content-item-cont-item > *::placeholder { color: #bbb; }
.content-outer-bloques-content-item-cont-item > .button:first-child { width: auto; font-size: 11px; height: 100%; }
.button:disabled { background: grey; opacity: .7; cursor: not-allowed; }
.content-outer-bloques-content-item-cont-item > textarea:first-child { height: 100%; }
.content-outer-bloques-content-item-cont-item {margin: 20px 0px;height: 40px;position: relative;}
.content-outer-bloques-content-item-cont-item.input { clear: both; }
.content-outer-bloques-content-item-cont-item.textarea { height: 220px; margin-bottom: 0px; }
.content-outer-bloques-content-item-cont form { display: flex; float: left; width: 100%; margin-top: 30px; }
.content-outer-bloques-content-item-cont-cont2:nth-child(2) { display: flex; flex-direction: column; }

/* investigación y docencia */
.content-outer-bloques-content-item-fullpage .content-outer-bloques-content-item-fullpage-cont-content img { display: block; text-align: center; margin: 30px auto; }
investigacion .content-outer-bloques-content-item[data-content='cursos'] {
}

/* capacitaciones */
.content-outer-bloques-content-item-tit2 { margin-bottom: 30px; }
.content-outer-bloques-content-item-tit { margin: 20px 0px 60px; }
.content-outer-bloques-content-item-item1-title i { position: absolute; right: 30px; top: 50%; transform: translateY(-50%); cursor: pointer; transition: all .1s; }
.content-outer-bloques-content-item-item1-title i:hover { color: #02a0e1; }
.content-outer-bloques-content-item-item1-title i:hover ~span { display: block; }
.content-outer-bloques-content-item-item1-title span { position: absolute; right: 0px; top: calc(50% + 25px); background: #EBF0F5; color: black; z-index: 9; padding: 15px; display: none; }
.content-outer-bloques-content-item-item1-title span:before { position: absolute; content: ''; right: 34px; top: -8px; height: 15px; width: 15px; transform: rotate(45deg); background: #ebf0f5; }
.content-outer-bloques-content-item-item1:last-child { margin-bottom: 50px; }

/* clientes autogestión */
clientes form { display: flex; flex-direction: column; align-items: center; justify-content: center; margin-top: 40px; }
clientes form input[type="submit"] { margin-top: 20px; width: 200px; height: 40px; transition: all .2s; }
clientes form input[type="submit"]:disabled { opacity: .5; cursor: not-allowed; }
clientes form label { margin-bottom: 20px; }
.content-outer-bloques-nav1 a {padding: 30px;color: white;float: left;clear: both;width: 100%;transition: background .2s, color .2s;display: flex;align-items: center;justify-content: flex-start;padding-left: 20%;}
.content-outer-bloques-nav1 svg { width: 20px; float: left; margin-right: 10px; transform: translateY(0%); height: 20px; }
.content-outer-bloques-nav1 svg * { transition: all .5s; }
.content-outer-bloques-nav1 a:hover { background: #ffffff; color: #19299b; }
.content-outer-bloques-nav1 a:hover svg * { fill: #19299b; }
.content-outer-bloques-nav1 a.claseLinkActivoClientes svg * { fill: #19299b; }
.content-outer-bloques-nav1 { background: #19289B; float: left; min-height: 90vh; }
.cont-clientes { float: left; width: 100%; display: flex; }
.content-outer-bloques-nav1 a.claseLinkActivoClientes {background: white;color: #19299b;}
.content-outer-bloques-logout { line-height: 50px; margin-top: -50px; color: white; }
.content-outer-clientes { padding: 10%; }
.info-tit { margin-bottom: 50px; }
clientes .content-outer-bloques-content-item-item1-content { padding-top: 20px; border-top: 1px solid lightgrey; }
.content-outer-clientes form { display: unset; margin: 0px; }
.content-outer-clientes form .input-box { width: 100%; height: 45px; border: none; background: #EBF0F5; padding: 10px; }
.popup,
.popup2 { position: fixed; top: 0px; left: 0px; width: 60vw; min-width: 300px; margin-left: 20vw; margin-top: 15vh; min-height: 30vh; background: white; z-index: 999; box-shadow: 0px 0px 0px 10000px #0000006b; display: none; padding: 3% 4%; }
.popup-close i { float: right; padding: 0px; cursor: pointer; font-weight: bold; color: lightgrey; font-size: 25px; transition: all .3s; }
.popup-close i:hover { color: black; }
.popup-close { float: left; width: 100%; }
.popup-content { float: left; width: 100%; }
.popup .input-box,
.popup2 .input-box { width: 100%; border: none; margin-top: 0px; border-bottom: 2px solid lightgrey; margin-bottom: 20px; }
.popup input[type=submit],
.popup2 input[type=submit] { margin-top: 40px; text-transform: uppercase; font-size: 11px; }
.popup form > div,
.popup2 form > div { position: relative; width: 100%; float: left; }
.popup label,
.popup2 label { margin-top: 10px; margin-bottom: 0p; }
clientesenviodemuestras .input-span { left: 15px; bottom: initial; top: initial; margin-top: -18px; }
clientesenviodemuestras .info-tit { padding-left: 15px; }
.content-outer-clientes-item-info { position: relative; background: #EBF0F5; height: 110px; display: flex; align-items: center; }
.content-outer-clientes-item-info i { position: absolute; right: 15px; top: 50%; transform: translateY(-50%); cursor: pointer; }
.content-outer-clientes-item-info i.download { right: 50px; }
.content-outer-clientes-item-info2-text { text-align: right; }
.content-outer-clientes-item-info2 { height: 40px; display: flex; align-items: center; color: white; }
.content-outer-clientes-item-info2-status { height: 100%; align-items: center; display: flex; }
.content-outer-clientes-item > div { padding-right: 30px; padding-left: 30px; }
.content-outer-clientes-item { margin-bottom: 30px; }
.content-outer-clientes-item-info2-text a { color: white; text-decoration: underline !important; }
.content-outer-clientes-item-info2-text input[type=file] { margin: 0 auto; display: block; color: #f9f9f9b0; }
.content-outer-clientes-item-info2-text input[type=file]::-webkit-file-upload-button { background: #ebf0f5; border: 1px solid black; border-radius: 5px; cursor: pointer; color: black; }
.content-outer-clientes-item table { width: 100%; }
.content-outer-clientes-item table tr { }
.content-outer-clientes-item table td { border: 1px solid black; padding: 20px; }
.content-outer-clientes-item table tr:first-child td { border: none; }
.content-outer-clientes-item table td:last-child { text-align: center; transform: translateY(5%); }
.content-outer-bloques-nav1 .font1 {
    display: block;
}

.content-outer-bloques-nav1 .font1:first-letter {
    text-transform: uppercase;
}

/* clientes mensajes */
clientesmensajes .content-outer-clientes-text { margin: 40px 0px; }
clientesmensajes .content-outer-clientes-item { display: flex; height: 60px; align-items: center; margin-bottom: 15px; transition: all .2s; cursor: pointer; }
clientesmensajes .content-outer-clientes-item > * { height: 100%; display: flex; align-items: center; }
clientesmensajes .content-outer-clientes-item:hover { background: #B4D2E6; color: white; }
clientesmensajes .content-outer-clientes-item .content-outer-clientes-item-tit { width: 100%; }
clientesmensajes .content-outer-clientes-item i { margin-left: 20px; }
clientesmensajes .info-tit { margin-bottom: 0px; }
clientesmensajes .msjs-msj-header { display: flex; align-items: center; height: 70px; padding-top: 10px; }
clientesmensajes .msjs-msj-header i { }
clientesmensajes .content-outer-clientes-item-msjs-msj-remitent { width: 100%; margin-left: 20px; }
clientesmensajes .content-outer-clientes-item-msjs-msj {padding: 0px 6% 4%;margin-bottom: 30px;width: 80%;float: right;}

.content-outer-clientes-item-msjs-msj.bcolor-3 {}
clientesmensajes .content-outer-clientes-item-msjs-msj-text textarea { width: 100%; height: 70px; background: none; border: none; }
clientesmensajes .content-outer-clientes-item-msjs-msj-text textarea::placeholder { color: #DCE1E6; }
.expanded-back i { transform: translateY(50%); font-size: 20px; line-height: 10px; }

/* clientes comprobantes */
clientescomprobantes .content-outer-clientes-text a:focus { color: inherit; }
.thumb-img > div { height: 100%; width: 100%; z-index: 1; }
.thumb-img { height: 400px; overflow: hidden; }
.thumb-img.noticia-img > div { transition: transform .3s ease-out; }
.thumb-img.noticia-img:hover > div { transform: scale(1.05); }

/*home noticia*/
.noticia_expanded img { display: block; margin: 20px auto; }
.noticia_expanded .noticia-close.button { margin-top: 60px; margin-bottom: 40px; }
.noticia_expanded .noticia-content,
.noticia_expanded .noticia-extract { padding: 40px 0px; }
.content-outer .noticia_expanded { margin-top: 100px; margin-bottom: 50px; }
.noticia_expanded .noticia-img { padding: 0px 0px 30px 0px; }
.breadcumbs { margin-bottom: 35px; padding: 0px; }


.content-outer-bloques-content-item-item1-content-info-titulo > b { text-transform: none; }

@media (min-width:992px) {
	.content-outer-bloques-cont { max-height: unset !important; }
	.nav-style-2.content-outer-bloques-nav > div:nth-child(1) { max-height: unset !important; }
	.content-outer-bloques-nav { max-height: unset !important; }
}
@media (max-width:991px) {
	header.navigation-menu { display: inline-block; height: 100px; margin: 0; width: 100%; }
	header.navigation-menu .navlogo { float: left; margin-left: 10%; }
	header.navigation-menu .navlogo img { width: 150px; float: left; margin-top: 20px; }
	.navigation-menu .nav-links { display: none; }
	.navigation-menu .mobile-cont-menu { position: absolute; top: 0px; right: 0px; width: 100%; display: inline-block; height: 80px; overflow: visible; }
	.navigation-menu .mobile-cont-menu i { color: white; font-size: 35px; }
	.navigation-menu .mobile-cont-menu .cont { background: #001A43; width: 100vw; position: relative; height: 100vh; padding-left: 15%; justify-content: center; display: flex; transition: all .6s cubic-bezier(0.09, 0.6, 0.04, 0.99); right: -100vw; opacity: 1; }
	.navigation-menu .mobile-cont-menu .cont i { position: absolute; top: 20px; right: 30px; display: none; }
	.navigation-menu .mobile-cont-menu .cont a,
	.navigation-menu .mobile-cont-menu .cont select { margin: 2.5vh 0; font-size: 22px; width: auto; float: left; clear: both; }
	.navigation-menu .mobile-cont-menu .cont select { width: 60px; }
	.navigation-menu .mobile-cont-menu .cont a:first-letter { text-transform: uppercase; }
	.navigation-menu .mobile-cont-menu .cont .button { width: 145px; float: left; font-size: 16px; }
	.navigation-menu .mobile-cont-menu > i { position: absolute; top: 22px; right: 10%; z-index: 9; }
	texto-inicial .cont-textos { width: 100% !important; padding: 10%; left: 0px !important; top: 17vh !important; }
	.texto-inicial .cont-textos .titulo { font-size: 24px; }
	.texto-inicial .cont-textos .texto { font-size: 15px; }
	.texto-inicial2 { top: unset !important; bottom: 30px; }
	.texto-inicial2 .cont-textos { top: unset !important; }
	.ultimas-noticias .scroll-nav { top: 33px !important; }
	.ultimas-noticias .scroll-nav .items-count { display: none; }
	.ultimas-noticias > div .titulo { font-size: 16px; margin-top: 20px; }
	#sliderHome3 .sliderItem.noticia-item > div { display: grid; }
	#sliderHome3 .sliderItem.noticia-item > div > div:last-child { grid-row: 1; }
	#sliderHome3 .sliderItem.noticia-item > div > div:last-child .thumb-img { height: 250px; }
	#sliderHome3 .sliderItem.noticia-item > div { display: grid; }
	.ultimas-noticias .noticia-item .titulo1 { font-size: 22px; }
	.ultimas-noticias .noticia-item .texto1 { display: none; }
	home .ultimas-noticias { background: #19289B !important; }
	.ultimas-noticias .noticia-item .button-big { margin-top: 0 !important; }
	.content-outer-bloques-cont .navigation-items { display: none !important; }
	home .footer .navigation-items { display: none !important; }
	.content-outer-bloques-cont-info-titulo { margin-top: 30px; }
	* { text-align: left; flex-direction: column; }
	.content-outer-bloques-cont { padding-bottom: 0px !important; padding-top: 30px !important; }
	.content-outer-bloques-cont-inversed .sliderItem div { float: left !important; text-align: left !important; }
	.content-outer-bloques-cont-inversed .slider { grid-row: 1; }
	.content-outer-bloques-cont-inversed { display: grid !important; }
	.content-outer-bloques-cont-inversed .content-outer-bloques-cont-info-titulo:before { right: unset !important; left: 0px !important; }
	.content-outer .content-outer-bloques { padding-bottom: 100px !important; }
	.content-outer-bloques-cont-info-leermas { font-size: 17px; }
	footer.container { width: 100%; background: #011C44; }
	footer.container > .footer-cont:nth-child(2) > .footer-cont-cont2 .footer-cont-cont2-links { display: none; }
	footer.container > .footer-cont:first-child { display: none; }
	footer .footer-cont-cont2-redes { flex-direction: row; padding-left: 0px; }
	footer .footer-cont-cont2-redes li { margin-right: 7%; }
	footer .footer-cont-cont2-redes li svg { height: 30px; width: 30px; }
	footer .footer-cont { display: grid; }
	footer .footer-cont .footer-cont-cont2:last-child { grid-row: 1; margin-bottom: 30px; }
	.background-outer { height: 100%; }
	.texto-inicial .cont-textos { width: 100% !important; left: 0px !important; padding: 10%; top: 15vh !important; }
	.content-outer-bloques-cont-inversed .sliderMarco { width: calc(100vw - 62px); }
	.content-outer-bloques-cont-inversed div { text-align: left !important; }
	.claseLinkActivo.claseLinkActivo:before { width: 0px; }
	.navigation-menu a:before { left: 5px; width: 0; }
	.navigation-menu.navigation-menu a:not(.button):not(.logoLink):hover:before { width: 20%; }

	/* Servicios Móvil */
	.content-outer .tituloOffset { padding-left: 5%; margin-top: -80px; font-size: 35px; }
	investigacion .content-outer .tituloOffset { line-height: 40px; padding-bottom: 0; margin-top: -120px; }
	servicios .content-outer .tituloOffset { margin-top: -120px; }
	.content-outer .tituloOffset:nth-child(2) { float: left; margin-top: -60px; width: 100%; padding: 0 5%; }
	.content-outer .tituloOffset:nth-child(2) form { width: 100%; }
	.content-outer .tituloOffset:nth-child(2) form input { width: 100%; }
	.content-outer .tituloOffset:nth-child(2):before { left: calc(5vw + 8px); }
	.content-outer-bloques-cont-item-link-svg svg { width: 50px; padding: 0; }
	.content-outer-bloques-cont-item-link-svg { width: auto !important; float: left; }
	.content-outer-bloques-cont-item-link-text { float: left; width: auto; }
	.content-outer-bloques-cont-item-link { display: flex; flex-direction: row; }
	.content-outer-bloques-cont-item { height: 100px !important; justify-content: center; padding: 10px 0; }
	servicios .content-outer-bloques-cont { padding: 0 8% !important; max-height: 100px; overflow: hidden; transition: all .3s ease-out; }
	servicios .content-outer-bloques-cont:before {    /* content: ''; */
	position: absolute; top: 40px; right: 7%; width: 5px; height: 5px; border: 4px solid white; border-right-color: transparent; border-top-color: transparent; transform: rotate(-45deg); }
	servicios .nav-style-2 .content-outer-bloques-nav-img { display: none !important; }
	.nav-style-2.content-outer-bloques-nav .content-outer-bloques-nav-item { padding: 16px 10% !important; font-size: 20px !important; }
	.nav-style-2.content-outer-bloques-nav > div:nth-child(1) { padding: 0 !important; transition: all .3s ease-out; width: 100%; }
	.nav-style-2.content-outer-bloques-nav > div:before {    /* content: ''; */
	position: absolute; top: 22px; right: 7%; width: 5px; height: 5px; border: 4px solid white; border-right-color: transparent; border-top-color: transparent; transform: rotate(-45deg); }
	servicios .content-outer { margin-top: 250px; }
	.content-outer { margin-top: 225px; }
	.content-outer-bloques-cont-inversed div { text-align: left !important; }
	.content-outer-bloques-content-item-item1-title { font-size: 14px; font-weight: normal !important; }
	.content-outer-bloques-cont .close-select { top: 38px; }
	.close-select { color: white; font-size: 35px; opacity: 1; right: 5%; position: absolute; top: 25px; }
	.content-outer-bloques-content .content-outer-bloques-content-item { font-size: 20px; padding: 0 5%; }
	.content-outer-bloques-cont-item-link-text { font-size: 21px !important; }
	.content-outer-bloques-cont-item { width: 100%; }
	.nav-style-2.content-outer-bloques-nav .content-outer-bloques-nav-item { width: 100%; }
	.content-outer-bloques-nav { width: 100%; max-height: 80px; transition: max-height .3s ease-out; position: relative; }
	.content-outer-bloques-nav .content-outer-bloques-nav-item { width: 100%; height: 80px; padding: 0 0 0 11%; float: left; line-height: 0; display: flex; justify-content: center; color: white !important; background: none !important; text-transform: capitalize; font-size: 20px; font-weight: normal !important; }
	.t26 { font-size: 30px; }
	.footer-cont * { font-size: 17px !important; opacity: 1 !important; }
	footer .footer-cont-cont2-cont3-logo svg { clear: both; width: 60px; margin-bottom: 30px; }
	footer .footer-cont-cont2-cont3-logo div { float: left; width: 100%; }
	footer .footer-cont-cont2-cont3-contacto { float: left; width: 100%; }
	footer .footer-cont-cont2-cont3-info { float: left; width: 100%; }
	.button-big { font-size: 19px; font-weight: bold; margin: 0 auto; text-align: center; }
	.texto-info-item-slider-thums-button { width: 100%; }
	.content-outer-bloques-content-item-item1-content > div { width: 90%; }
	.content-outer-bloques-content-item-item1-content-img,
	.content-outer-bloques-content-item-item1-content-info { float: left; width: 100%; }
	.content-outer-bloques-content-item-item1-content-img,
	.content-outer-bloques-content-item-item1-content-info { float: left; width: 100%; padding: 0; }
	.content-outer-bloques-content-item[data-content='investigadores'] .content-outer-bloques-content-item-item1-content-info * { font-size: 14px; }
	.content-outer-bloques-content-item-item1 { float: left; width: 100%; }
	.content-outer-bloques-content-item-item1-content-info-titulo > div.t14 { display: none; }
	.content-outer-bloques-content-item-item1-content-info-titulo > b { font-size: 18px; font-weight: normal; margin: 20px 0; float: left; width: 100%; text-transform: none; }
	.content-outer-bloques-content-item-item1-title { font-size: 21px; }
	.content-outer-bloques-content-item-item1-content-info-texto { float: left; width: 100%; margin-bottom: 10px; font-size: 21px; }
	.content-outer-bloques-content-item-item1-content-info-texto:last-child { margin-bottom: 0; }
	.content-outer-bloques-content-item-item1-content-info-texto * { font-size: 21px; }
	.content-outer-bloques-content-item-item1-content-info-texto span { width: 100%; float: left; margin-top: 7px; }
	.content-outer-bloques-content-item-item1-content-info-texto i { font-size: 38px; }
	.content-outer-bloques-content-item-cont > * { float: left; margin: 10px 0 !important; }
	.item-investigador.content-outer-bloques-content-item-cont * { font-size: 20px; font-weight: normal !important; }
	.item-investigador .content-outer-bloques-content-item-cont-info-row-text { font-size: 15px; }
	.content-outer-bloques-content-item-cont-img { width: 37vw !important; height: 37vw !important; }
	.content-outer-bloques-content-item-cont-img img { width: 37vw !important; height: 37vw !important; padding: 10%; border-radius: 50%; max-width: 150px; max-height: 150px !important; }
	.content-outer-bloques-content-item-cont { flex-direction: row; height: 300px; align-items: center; }
	investigacion .content-outer-bloques-content .content-outer-bloques-content-item[data-content='investigadores'] { padding: 0; }
	.item-investigador .content-outer-bloques-content-item-cont-tit2 { font-size: 14px; }
	.content-outer-bloques-content-item-cont-info-row-logo i { font-size: 30px !important; transform: translateY(4px); }
	.content-outer-bloques-content-item-cont-info { padding: 0; width: 80%; padding-left: 15px; }
	.extra-content-investigadores-cont .content-outer-bloques-content-item-cont-img:before { width: calc(38vw - 25px) !important; height: calc(38vw - 23px) !important; font-size: 18px !important; max-width: 120px; max-height: 120px; top: 50% !important; left: 50% !important; transform: translate(-50%, -50%); }