<div class="content-outer-bloques-nav nav-style-2">
	<div class="content-outer-bloques-nav-img no-padding col-xs-12 col-sm-7">
		<div class="content-outer-bloques-nav-img-text">{{"Calidad del aire" | translate}}</div>
		<img src="../assets/media/ingAmbientalNav/aire.jpg" alt="aire.jpg">
	</div><!-- navTabs -->
	<div class="col-xs-12 col-sm-5 no-padding">
		<div class="content-outer-bloques-nav-item active-tab-nav" (click)="peticionesService.show_animated_tab('aire', $event); actualizarImgNav($event, 'aire.jpg');">{{'Calidad&nbsp;del&nbsp;aire' | translate}}</div>
		<div class="content-outer-bloques-nav-item" (click)="peticionesService.show_animated_tab('agua', $event); actualizarImgNav($event, 'agua.jpg');">{{'Calidad&nbsp;de&nbsp;aguas&nbsp;y&nbsp;afluentes' | translate}}</div>
		<div class="content-outer-bloques-nav-item" (click)="peticionesService.show_animated_tab('suelos', $event); actualizarImgNav($event, 'suelos.jpg');">{{'Calidad&nbsp;de&nbsp;suelos&nbsp;y&nbsp;residuos&nbsp;peligrosos' | translate}}</div>
		<div class="content-outer-bloques-nav-item" (click)="peticionesService.show_animated_tab('equipamiento', $event); actualizarImgNav($event, 'equipamiento.jpg');">{{'Equipamiento' | translate}}</div>
		<div class="content-outer-bloques-nav-item" (click)="peticionesService.show_animated_tab('impacto', $event); actualizarImgNav($event, 'impacto.jpg');">{{'Impacto&nbsp;Ambiental' | translate}}</div>
	</div>
</div>
<div class="content-outer-bloques-content">
	
	<!-- tab1 aire -->
	<div class="content-outer-bloques-content-item active-tab-content" data-content="aire">

		<div class="content-outer-bloques-content-item-item1" [innerHtml]="'texto_calidad_aire' | translate"></div>
		<div class="content-outer-bloques-content-item-img"><img src='../assets/media/ingAmbientalNav/agua_img1.jpg' alt='ciqa calidad del aire'></div>
		<div class="content-outer-bloques-content-item-item1" [innerHtml]="'texto_calidad_aire2' | translate"></div>
		<br><br>

		<!-- slidedown -->
		<div class="content-outer-bloques-content-item-item1 col-sm-12">
			<div class="content-outer-bloques-content-item-item1-title col-xs-12 bold t16" (click)="peticionesService.show_animated_slide($event)">USEPA (United States Environmental Protection Agency) - 40 CFR PART 60- App. A</div>
			<div class="content-outer-bloques-content-item-item1-content">
				<div>
					<div class="content-outer-bloques-content-item-item1-content-info col-xs-12">
						<img src="../../../assets/media/ingAmbientalNav/calidadDeAire/aireUsepa.JPG" alt="">
					</div>
				</div>
			</div>
		</div>

		<!-- slidedown -->
		<div class="content-outer-bloques-content-item-item1 col-sm-12">
			<div class="content-outer-bloques-content-item-item1-title col-xs-12 bold t16" (click)="peticionesService.show_animated_slide($event)">ISO (International Organization for Standardization)</div>
			<div class="content-outer-bloques-content-item-item1-content">
				<div>
					<div class="content-outer-bloques-content-item-item1-content-info col-xs-12">
						<img src="../../../assets/media/ingAmbientalNav/calidadDeAire/aireIso.JPG" alt="">
					</div>
				</div>
			</div>
		</div>

		<!-- slidedown -->
		<div class="content-outer-bloques-content-item-item1 col-sm-12">
			<div class="content-outer-bloques-content-item-item1-title col-xs-12 bold t16" (click)="peticionesService.show_animated_slide($event)">JIS (Japanese Industrial Standard)</div>
			<div class="content-outer-bloques-content-item-item1-content">
<!-- 				<div>
					<div class="content-outer-bloques-content-item-item1-content-info col-xs-9"><br>
						<div class="content-outer-bloques-content-item-item1-content-info-texto tcolor-2 t13">
							<div class="content-outer-bloques-content-item-item1-content-info-texto-titulo bold uppercase">Determinación del caudal volumétrico de gas emitido</div>
							› JIS K 0095: Methods for sampling of flue gas.<br>
							<div class="content-outer-bloques-content-item-item1-content-info-texto-titulo bold uppercase">Determinación de la concentración de los respectivos contaminantes</div>
							Material Particulado (muestreo isocinético)<br>
							› JIS Z 8808: Methods of measuring dust concentration in flue gas<br>
							<br>
							Óxidos de Nitrógenos (NOx)<br>
							› JIS B 7982: Automated measuring systems and analyzers for nitrogen oxides in flue gas.<br>
							<br>
							Dióxido de Azufre (SO2)<br>
							› JIS K 0103: Methods for determination of sulfur oxides in flue gas.<br>
							› JIS B 7981: Automated measuring systems and analyzers for sulfur dioxide in flue gas.<br>
							<br>
							Metales pesados<br>
							› JIS K 0083: Method for determination of metals in flue gas.<br>
							<br>
							Fenoles<br>
							› JIS K 0086: Methods for determination of phenols in flue gas.<br>
							<br>
							Cloro<br>
							› JIS K 0106: Methods for determination of chlorine in flue gas.<br>
						</div>
					</div>
				</div> -->
				<div>
					<div class="content-outer-bloques-content-item-item1-content-info col-xs-12">
						<img src="../../../assets/media/ingAmbientalNav/calidadDeAire/aireJis.JPG" alt="">
					</div>
				</div>
			</div>
		</div>

		<!-- slidedown -->
		<div class="content-outer-bloques-content-item-item1 col-sm-12">
			<div class="content-outer-bloques-content-item-item1-title col-xs-12 bold t16" (click)="peticionesService.show_animated_slide($event)">IRAM (Instituto Argentino de Normalización y Certificación)</div>
			<div class="content-outer-bloques-content-item-item1-content">
				<div>
					<div class="content-outer-bloques-content-item-item1-content-info col-xs-12">
						<img src="../../../assets/media/ingAmbientalNav/calidadDeAire/aireIram.JPG" alt="">
					</div>
				</div>
			</div>
		</div>

		<!-- slidedown -->
		<div class="content-outer-bloques-content-item-item1 col-sm-12">
			<div class="content-outer-bloques-content-item-item1-title col-xs-12 bold t16" (click)="peticionesService.show_animated_slide($event)">Otros métodos USEPA - 40 CFR PART 60 ofrecidos</div>
			<div class="content-outer-bloques-content-item-item1-content">
<!-- 				<div>
					<div class="content-outer-bloques-content-item-item1-content-info col-xs-9"><br>
						<div class="content-outer-bloques-content-item-item1-content-info-texto tcolor-2 t13">
							<div class="content-outer-bloques-content-item-item1-content-info-texto-titulo bold uppercase">Determinación del caudal volumétrico de gas emitido</div>
							› JIS K 0095: Methods for sampling of flue gas.<br>
							<div class="content-outer-bloques-content-item-item1-content-info-texto-titulo bold uppercase">Determinación de la concentración de los respectivos contaminantes</div>
							Material Particulado (muestreo isocinético)<br>
							› JIS Z 8808: Methods of measuring dust concentration in flue gas<br>
							<br>
							Óxidos de Nitrógenos (NOx)<br>
							› JIS B 7982: Automated measuring systems and analyzers for nitrogen oxides in flue gas.<br>
							<br>
							Dióxido de Azufre (SO2)<br>
							› JIS K 0103: Methods for determination of sulfur oxides in flue gas.<br>
							› JIS B 7981: Automated measuring systems and analyzers for sulfur dioxide in flue gas.<br>
							<br>
							Metales pesados<br>
							› JIS K 0083: Method for determination of metals in flue gas.<br>
							<br>
							Fenoles<br>
							› JIS K 0086: Methods for determination of phenols in flue gas.<br>
							<br>
							Cloro<br>
							› JIS K 0106: Methods for determination of chlorine in flue gas.<br>
						</div>
					</div>
				</div> -->
				<div>
					<div class="content-outer-bloques-content-item-item1-content-info col-xs-12">
						<img src="../../../assets/media/ingAmbientalNav/calidadDeAire/aireOtros.JPG" alt="">
					</div>
				</div>
			</div>
		</div>

		<div class=""></div>

	</div>


	<!-- tab2 agua -->
	<div class="content-outer-bloques-content-item" data-content="agua">
		<div class="content-outer-bloques-content-item-item1" [innerHtml]="'texto_calidad_agua' | translate"></div>
		<!-- <div class="content-outer-bloques-content-item-img"><img src='../assets/media/institucional.jpg' alt='ciqa institucional'></div> -->
	</div>

	<!-- tab3 suelos -->
	<div class="content-outer-bloques-content-item" data-content="suelos">
		<div class="content-outer-bloques-content-item-item1" [innerHtml]="'texto_calidad_suelos' | translate"></div>
		<!-- <div class="content-outer-bloques-content-item-img"><img src='../assets/media/institucional.jpg' alt='ciqa institucional'></div> -->
	</div>


	<!-- tab4 equipamiento -->
	<div class="content-outer-bloques-content-item content-outer-bloques-content-equipamiento" data-content="equipamiento">
		<div class="content-outer-bloques-content-item-item1" [innerHtml]="'texto_equipamiento' | translate"></div>
		<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
			<!-- Wrapper for slides -->
			<div class="carousel-inner">
				<div class="item active">
					<img src='../assets/media/ingAmbientalNav/equipamiento/equipamiento.jpg' alt='ciqa equipamiento'>
				</div>
				<div class="item">
					<img src='../assets/media/ingAmbientalNav/equipamiento/equipamiento.jpg' alt='ciqa equipamiento'>
				</div>
				<div class="item">
					<img src='../assets/media/ingAmbientalNav/equipamiento/equipamiento.jpg' alt='ciqa equipamiento'>
				</div>
				<div class="item ">
					<img src='../assets/media/ingAmbientalNav/equipamiento/equipamiento.jpg' alt='ciqa equipamiento'>
				</div>
				<div class="item">
					<img src='../assets/media/ingAmbientalNav/equipamiento/equipamiento.jpg' alt='ciqa equipamiento'>
				</div>
				<div class="item">
					<img src='../assets/media/ingAmbientalNav/equipamiento/equipamiento.jpg' alt='ciqa equipamiento'>
				</div>
				<div class="item ">
					<img src='../assets/media/ingAmbientalNav/equipamiento/equipamiento.jpg' alt='ciqa equipamiento'>
				</div>
				<div class="item">
					<img src='../assets/media/ingAmbientalNav/equipamiento/equipamiento.jpg' alt='ciqa equipamiento'>
				</div>
				<div class="item">
					<img src='../assets/media/ingAmbientalNav/equipamiento/equipamiento.jpg' alt='ciqa equipamiento'>
				</div>
			</div>

			<!-- Left and right controls -->
			<a class="left carousel-control" href="#myCarousel" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#myCarousel" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
				<span class="sr-only">Next</span>
			</a>

			<!-- Indicators -->
			<div class="slider" id="thumb">
				<div class="col-xs-1 slider-nav-nav">
					<div class="thumbPrev" style="cursor: pointer" (click)="moverSliderthumb($event)"><span class="glyphicon glyphicon-menu-left"></span></div>
				</div>
				<div class="thumbMarco col-xs-10" style="overflow: hidden">
					<div class="thumbContainer carousel-indicators">
						<div data-target="#myCarousel" data-slide-to="0" (click)="actualizar_info_item(0)" class="active thumbItem col-xs-12 col-sm-4"><img src='../assets/media/ingAmbientalNav/equipamiento/equipamiento.jpg' alt='ciqa equipamiento'></div>
						<div data-target="#myCarousel" data-slide-to="1" (click)="actualizar_info_item(1)" class="thumbItem col-xs-12 col-sm-4"><img src='../assets/media/ingAmbientalNav/equipamiento/equipamiento.jpg' alt='ciqa equipamiento'></div>
						<div data-target="#myCarousel" data-slide-to="2" (click)="actualizar_info_item(2)" class="thumbItem col-xs-12 col-sm-4"><img src='../assets/media/ingAmbientalNav/equipamiento/equipamiento.jpg' alt='ciqa equipamiento'></div>
						<div data-target="#myCarousel" data-slide-to="3" (click)="actualizar_info_item(3)" class="thumbItem col-xs-12 col-sm-4"><img src='../assets/media/ingAmbientalNav/equipamiento/equipamiento.jpg' alt='ciqa equipamiento'></div>
						<div data-target="#myCarousel" data-slide-to="4" (click)="actualizar_info_item(4)" class="thumbItem col-xs-12 col-sm-4"><img src='../assets/media/ingAmbientalNav/equipamiento/equipamiento.jpg' alt='ciqa equipamiento'></div>
						<div data-target="#myCarousel" data-slide-to="5" (click)="actualizar_info_item(5)" class="thumbItem col-xs-12 col-sm-4"><img src='../assets/media/ingAmbientalNav/equipamiento/equipamiento.jpg' alt='ciqa equipamiento'></div>
						<div data-target="#myCarousel" data-slide-to="6" (click)="actualizar_info_item(6)" class="thumbItem col-xs-12 col-sm-4"><img src='../assets/media/ingAmbientalNav/equipamiento/equipamiento.jpg' alt='ciqa equipamiento'></div>
						<div data-target="#myCarousel" data-slide-to="7" (click)="actualizar_info_item(7)" class="thumbItem col-xs-12 col-sm-4"><img src='../assets/media/ingAmbientalNav/equipamiento/equipamiento.jpg' alt='ciqa equipamiento'></div>
						<div data-target="#myCarousel" data-slide-to="8" (click)="actualizar_info_item(8)" class="thumbItem col-xs-12 col-sm-4"><img src='../assets/media/ingAmbientalNav/equipamiento/equipamiento.jpg' alt='ciqa equipamiento'></div>
					</div>
				</div>
				<div class="col-xs-1 slider-nav-nav">
					<div class="thumbNext" style="cursor: pointer" (click)="moverSliderthumb($event)"><span class="glyphicon glyphicon-menu-right"></span></div>
				</div>
				<div id="thumbItemActual" data-to=0></div>
			</div>

			<div class="texto-info-item">
				<div class="col-sm-2 hidden-xs">&nbsp;</div>
				<div class="texto-info-item-slider col-xs-12 col-sm-8">
					<div data-slide="0" class="texto-info-item-slider-thums active">
						›  Espectrómetro de emisión óptica por plasma inductivamente acoplado marca Thermo Scientific modelo iCAP 7400 ICP-OES Duo con inyector automático. Permite el análisis simultáneo de metales pesados.
						›  Espectrómetro de emisión óptica por plasma inductivamente acoplado marca Thermo Scientific modelo iCAP 7400 ICP-OES Duo con inyector automático. Permite el análisis simultáneo de metales pesados.
					</div>
					<div data-slide="1" class="texto-info-item-slider-thums">
						›  Espectrómetro de emisión óptica por plasma inductivamente acoplado marca Thermo Scientific modelo iCAP 7400 ICP-OES Duo con inyector automático. Permite el análisis simultáneo de metales pesados.
						›  Espectrómetro de emisión óptica por plasma inductivamente acoplado marca Thermo Scientific modelo iCAP 7400 ICP-OES Duo con inyector automático. Permite el análisis simultáneo de metales pesados.
						›  Espectrómetro de emisión óptica por plasma inductivamente acoplado marca Thermo Scientific modelo iCAP 7400 ICP-OES Duo con inyector automático. Permite el análisis simultáneo de metales pesados.
					</div>
					<div data-slide="2" class="texto-info-item-slider-thums">
						›  Espectrómetro de emisión óptica por plasma inductivamente acoplado marca Thermo Scientific modelo iCAP 7400 ICP-OES Duo con inyector automático. Permite el análisis simultáneo de metales pesados.
					</div>
					<div data-slide="3" class="texto-info-item-slider-thums">
						›  Espectrómetro de emisión óptica por plasma inductivamente acoplado marca Thermo Scientific modelo iCAP 7400 ICP-OES Duo con inyector automático. Permite el análisis simultáneo de metales pesados.
						›  Espectrómetro de emisión óptica por plasma inductivamente acoplado marca Thermo Scientific modelo iCAP 7400 ICP-OES Duo con inyector automático. Permite el análisis simultáneo de metales pesados.
					</div>
					<div data-slide="4" class="texto-info-item-slider-thums">
						›  Espectrómetro de emisión óptica por plasma inductivamente acoplado marca Thermo Scientific modelo iCAP 7400 ICP-OES Duo con inyector automático. Permite el análisis simultáneo de metales pesados.
					</div>
					<div data-slide="5" class="texto-info-item-slider-thums">
						›  Espectrómetro de emisión óptica por plasma inductivamente acoplado marca Thermo Scientific modelo iCAP 7400 ICP-OES Duo con inyector automático. Permite el análisis simultáneo de metales pesados.
						›  Espectrómetro de emisión óptica por plasma inductivamente acoplado marca Thermo Scientific modelo iCAP 7400 ICP-OES Duo con inyector automático. Permite el análisis simultáneo de metales pesados.
					</div>
					<div data-slide="6" class="texto-info-item-slider-thums">
						›  Espectrómetro de emisión óptica por plasma inductivamente acoplado marca Thermo Scientific modelo iCAP 7400 ICP-OES Duo con inyector automático. Permite el análisis simultáneo de metales pesados.
					</div>
					<div data-slide="7" class="texto-info-item-slider-thums">
						›  Espectrómetro de emisión óptica por plasma inductivamente acoplado marca Thermo Scientific modelo iCAP 7400 ICP-OES Duo con inyector automático. Permite el análisis simultáneo de metales pesados.
						›  Espectrómetro de emisión óptica por plasma inductivamente acoplado marca Thermo Scientific modelo iCAP 7400 ICP-OES Duo con inyector automático. Permite el análisis simultáneo de metales pesados.
						›  Espectrómetro de emisión óptica por plasma inductivamente acoplado marca Thermo Scientific modelo iCAP 7400 ICP-OES Duo con inyector automático. Permite el análisis simultáneo de metales pesados.
						›  Espectrómetro de emisión óptica por plasma inductivamente acoplado marca Thermo Scientific modelo iCAP 7400 ICP-OES Duo con inyector automático. Permite el análisis simultáneo de metales pesados.
					</div>
					<div data-slide="8" class="texto-info-item-slider-thums">
						›  Espectrómetro de emisión óptica por plasma inductivamente acoplado marca Thermo Scientific modelo iCAP 7400 ICP-OES Duo con inyector automático. Permite el análisis simultáneo de metales pesados.
					</div>
					<div class="texto-info-item-slider-thums-button uppercase button-big bol t13 bcolor-1 pull-left" (click)="mostrar_info_completa_equipamiento()">ver el listado completo</div>
				</div>
				<div class="col-sm-2 hidden-xs">&nbsp;</div>
			</div>
		</div>
		<div class="info-completo-texto-equipamiento">
			<div class="info-completo-texto-equipamiento-text" [innerHtml]="'texto_equipamiento_completo' | translate"></div>
			<br><br><div class="button-volver button bcolor-1 pull-left t16 bold uppercase" (click)="mostrar_info_completa_equipamiento()">Atrás</div>
		</div>
	</div>



	<!-- tab5 impacto ambiental -->
	<div class="content-outer-bloques-content-item" data-content="impacto">
		<div class="content-outer-bloques-content-item-item1" [innerHtml]="'texto_impacto_ambiental' | translate"></div>
		<div class="content-outer-bloques-content-item-img"><img src='../assets/media/ingAmbientalNav/impactoAmbiental/impacto.jpg' alt='ciqa impacto ambiental'></div>
		<div class="content-outer-bloques-content-item-item1" [innerHtml]="'texto_impacto_ambiental2' | translate"></div>
	</div>
</div>